{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_headers %}
    {% endblock %}
    <title>Monitoring System</title>
</head>
<body>
{% include "components/sidebar.html" %}
<div id="content">
    {% include "components/navbar.html" %}
    <div id="section">
        {% block content %}
        {% endblock %}
    </div>
</div>

   {% block extra_scripts %}
    {% endblock %}
</body>
</html>

