{% extends "base.html" %}

{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'css/host_detail.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{% static 'js/modal-processes.js' %}" defer></script>
    <script src="{% static 'js/fetch-containers-data.js' %}" defer></script>
    <script src="{% static 'js/fetch-usage-data.js' %}" type="module" defer></script>
    <script src="{% static 'js/ram-chart.js' %}" type="module" defer></script>
    <script src="{% static 'js/cpu-chart.js' %}" type="module" defer></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card-detail" id="basic-card">
            <p class="header" id="card-header">Basic information</p>
            <div class="card-body">
                <p>Host ID: {{ host.host_id }}</p>
                <p>OS: {{ host.os }}</p>
                <p>Platform: {{ platform }}</p>
                <p>Platform version: {{ platform_version }}</p>
            </div>
        </div>
        <div class="card-detail" id="process-card">
            <p class="header" id="card-header">Processes</p>
            <div class="card-body">
                <p>Recently, there were {{ total_processes }} processes</p>
                <button class="primary-button" id="show-processes-btn" data-host-id="{{ host.host_id }}">
                    Show Processes
                </button>
            </div>
        </div>
    </div>
<div class="card-detail terminal-console" id="usage-card" data-host-id="{{ host.host_id }}">
    <p class="header terminal-header" id="card-header">System Usage Logs</p>
    <div class="card-body">
        <div id="usage-log-container">
            <table class="table terminal-table" id="usage-stats-table">
                <thead>
                    <tr>
                        <th>time</th>
                        <th>cpu (%)</th>
                        <th>ram total (mb)</th>
                        <th>ram available (mb)</th>
                        <th>ram used (mb)</th>
                        <th>processes</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be dynamically populated by JavaScript -->
                </tbody>
            </table>
        </div>
        <div class="usage-controls">
            <select id="usage-limit">
                <option value="50" selected>50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </div>
    </div>
</div>

    <div class="card-detail" id="containers-card">
        <p class="header" id="card-header">Containers</p>
        <div class="card-body">
            <div class="table-container">
                <table class="table" id="containers-table">
                    <thead>
                    <tr>
                        <th>Container ID</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- dane z api -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-detail">
        <p class="card-detail-title">Latest CPU Usage</p>
        <div id="cpu-chart-wrapper">
            <div id="cpu-chart"></div>
            <div id="cpu-value">0%</div>
        </div>
    </div>

    <div class="card-detail">
        <p class="card-detail-title">RAM Usage Graph</p>
        <div id="ram-chart-container" data-host-id="{{ host.host_id }}">
            <select id="ram-data-limit">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30" selected>30</option>
                <option value="50">50</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
            </select>
            <canvas id="ram-chart" width="800" height="400"></canvas>
        </div>

    </div>


    <div id="processes-modal" class="process-modal" style="display: none;">
        <div class="process-modal-content">
            <p class="header">Processes List</p>
            <input type="text" id="process-search" placeholder="Search processes by name..." class="process-search"/>
            <table class="process-table">
                <thead>
                <tr>
                    <th>PID</th>
                    <th>Name</th>
                    <th>CPU (%)</th>
                    <th>MEM (%)</th>
                </tr>
                </thead>
                <tbody id="processes-list">
                <!-- Procesy here -->
                </tbody>
            </table>
        </div>
    </div>
    <script type="module">
        import {updateCpuChart} from "{% static 'js/cpu-chart.js' %}";

        document.addEventListener('DOMContentLoaded', () => {
            const cpuPercent = {{ cpu_percent }};
            updateCpuChart(cpuPercent);
        });
    </script>

{% endblock %}
