{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
</head>
<body>
<div id="navbar">
    <button id="toggle-sidebar-btn" class="primary-button">
        <img src="{% static 'assets/menu-icon.svg' %}" alt="Menu Icon" />
    </button>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search an instance">
    </div>
    <div></div>
    {% include 'components/search_modal.html' %}
</div>

</body>
</html>