{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<body>
<div class="sidebar" id="sidebar" aria-hidden="true">
    <div class="sidebar-header">
        <p id="sidebar-header-text">Monitoring System</p>
        <p id="sidebar-header-subtext">Docker & native OS</p>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
                <i class="fa-solid fa-chart-line"></i> Dashboard
            </a>
            <a href="{% url 'hosts' %}" class="{% if request.path == '/host/' %}active{% endif %}">
                <i class="fa-solid fa-hard-drive"></i> All hosts
            </a>
        </li>
    </ul>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button id="logout-btn" type="submit">Logout</button>
    </form>
</div>
</body>
</html>
