@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #100c0c;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(26, 26, 26, 0.5);
    color: #e0e0e0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}


#section {
    padding: 1rem;
}

#section.blurred {
    filter: blur(5px) !important;
    transition: filter 0.3s ease;
}


button.primary-button {
    padding: 0.6rem 0.8rem;
    background-color: #191919;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    text-shadow: none;
}

button.primary-button:hover {
    background-color: #333232;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

button.primary-button:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1d1b1b;
    min-width: 33%;
    padding: 1rem;
    border-radius: 4px;
}

.card-title {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.card-title > span {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.header {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
